$include /etc/inputrc
"\C-p":history-search-backward
"\C-n":history-search-forward
"\ea":alias-expand-line

set colored-stats On
set completion-ignore-case On
set mark-symlinked-directories On
set show-all-if-ambiguous On
set show-all-if-unmodified On
set visible-stats On
set enable-bracketed-paste On
